## Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [18]:
import pandas as pd
ratings = pd.read_csv('/Users/valentinpopov/Downloads/ml-latest-small/ratings.csv')

In [20]:
def rating(r):
    if r <= 2:
        return 'низкий рейтинг'
    elif r <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'
    
ratings['class'] = ratings['rating'].apply(rating)
ratings

        userId  movieId  rating   timestamp            class
0            1       31     2.5  1260759144  средний рейтинг
1            1     1029     3.0  1260759179  средний рейтинг
2            1     1061     3.0  1260759182  средний рейтинг
3            1     1129     2.0  1260759185   низкий рейтинг
4            1     1172     4.0  1260759205  средний рейтинг
...        ...      ...     ...         ...              ...
99999      671     6268     2.5  1065579370  средний рейтинг
100000     671     6269     4.0  1065149201  средний рейтинг
100001     671     6365     4.0  1070940363  средний рейтинг
100002     671     6385     2.5  1070979663  средний рейтинг
100003     671     6565     3.5  1074784724  средний рейтинг

[100004 rows x 5 columns]

In [22]:
ratings['class'].value_counts()

средний рейтинг    63801
высокий рейтинг    22818
низкий рейтинг     13385
Name: class, dtype: int64

## Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

In [72]:
import pandas as pd
keywords = pd.read_csv('/Users/valentinpopov/Downloads/ml-latest-small/keywords.csv')
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [73]:
def find_region(s, d):
    for k, v in d.items():
        for el in v:
            if el in s:
                return k
    return 'undefined'

keywords['region'] = keywords.keyword.apply(find_region, d = geo_data)
keywords['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

## Задание 3

In [96]:
import pandas as pd
years = []
start = 1950
end = 2010
while start <= end:
    years.append(start)
    start = start + 1
    
def find_year(s, list_of_years):
    for y in list_of_years:
        if str(y) in s:
            return y
    return 1900

ratings = pd.read_csv('/Users/valentinpopov/Downloads/ml-latest-small/ratings.csv')
movies = pd.read_csv('/Users/valentinpopov/Downloads/ml-latest-small/movies.csv')

In [97]:
movies['year'] = movies.title.apply(find_year, list_of_years = years)
movies_with_rat = movies.merge(ratings[['movieId','rating']])

In [101]:
movies_with_rat.groupby('year').mean().sort_values('rating', ascending=False)

           movieId    rating
year
1957   2750.965190  4.014241
1972   3983.538976  4.011136
1952   4107.796053  4.000000
1954   2867.661850  3.994220
1951   2605.588477  3.983539
...            ...       ...
2005  37156.244600  3.448434
2003   8154.379187  3.444777
1996    909.740849  3.426600
1997   1970.257389  3.415764
2000   4376.611591  3.356104

[62 rows x 2 columns]