## Задание 1
Определите какому фильму было выставлено больше всего оценок 5.0.

In [6]:
import pandas as pd
ratings = pd.read_csv('/Users/valentinpopov/Downloads/ml-25m/ratings.csv')
movies = pd.read_csv('/Users/valentinpopov/Downloads/ml-25m/movies.csv')

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [52]:
movies[movies.movieId == ratings[ratings.rating == 5]['movieId'].value_counts().index[0]]

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [34]:
import pandas as pd
power = pd.read_csv('/Users/valentinpopov/Downloads/10._Основы_pandas/power.csv')

In [39]:
power = power[(power['country'].isin(['Latvia', 'Lithuania', 'Estonia'])) & (power['quantity'] > 0)]
power[(power['category'].isin([4, 12, 21])) & (power['year'] >= 2005) & (power['year'] <= 2010)]['quantity'].sum()

240580.0

## Задание 3

In [74]:
link = 'https://gb2.dzo44.ru/kontakty'
data = pd.read_html(link, skiprows=1)[0]

In [80]:
data = data.rename(columns = {0:'position', 1:'fio', 2:'phone'})
data

,position,FIO,Phone
0,Главный врач,Храмов Владимир Александрович,31-27-49; 31-79-59 (факс)
1,Заместители главного врача по медицинской части,Окорокова Людмила Вячеславовна,31-37-88
2,Заместители главного врача по хирургической по...,Жаворонков Дмитрий Анатольевич,31-26-75
3,Заместители главного врача по поликлиническому...,Кулишенко Наталия Львовна,31-30-32
4,Заместитель главного врача по экономическим во...,Башмакова Екатерина Валерьевна,31-84-13
5,Главная медицинская сестра,Щенкова Надежда Александровна,31-13-04
6,Главный бухгалтер,Соболева Елена Вячеславовна,31-35-74; 31-30-71
7,Начальник отдела кадров,Дмитриева Ирина Витальевна,31-83-33